{% include "partials/header.njk" %}
	<section class="hero">
		<div>
			<img src="{{bannerImage}}" alt="hero image"/>
			<h1>{{title}}</h1>
		</div>
	</section>
	<section class="about">
		<div>
		   <h2>{{heroTitle}}</h2>
<p>{{heroDescription}}</p>
		</div>
	</section>
	<section>
		<div>
			{% for card in cards %}
				<div>
					<img src="{{card.img}}" alt="{{card.title}} icon"/>
					<h3>{{card.title}}</h3>
					<p>{{card.copy}}</p>
				</div>
			{% endfor %}
		</div>
	</section>
	<section class="associations">
		<div>
			<h2>WIRC Executive Committee</h2>
			<div class="association-logos flex flex-wrap">
				{% for assoc in execAssociations %}
					<a href="{{assoc.url}}" target="_blank" title="{{assoc.title}}">
						<img src="{{assoc.img}}" alt="{{assoc.title}} logo"/>
					</a>
				{% endfor %}
			</div>
			<div class="grid lg:grid-cols-2 gap-4">
				{% for assoc in associations %}
					<a href="{{assoc.url}}" target="_blank" title="{{assoc.title}}">
						<img src="{{assoc.img}}" alt="{{assoc.title}} logo"/>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% include "partials/footer.njk" %}
