{% include "partials/header.njk" %}
	<section class="default">
		<div>
            <h1>{{title}}</h1>
			{{contents}}
            {%- if path == 'privacy-policy' -%}
            Last edited:  {{stats.mtimeMs | modifiedTime}}
            {%- endif -%}
		</div>
    </section>
{% include "partials/footer.njk" %}
