{% include "partials/header.njk" %}
	<section class="hero">
		<div>
			<img src="{{bannerImage}}" alt="hero image"/>
			<h1>{{bannerTitle}}</h1>
		</div>
	</section>
	<div class="intro">
		<h2 style="max-width: 20ch;">{{title}}</h2><br>
		<p>{{description}}</p>
	</div>
	<section class="content-container alternating-images get-started relative pt-10">
		{% set cls = cycler("img-right","img-left") %}
		{% for section in steps %}
			<div class="item-container {{ cls.next() }}  pb4 relative">
					<img class="img" src="{{ section.image }}" alt=""  style="max-width:567px!important ;max-height:521px;!important">
				<div class="content">
					<h2>{{section.title}}</h2>
					{{section.content | md }}
				</div>
			</div>
		{% endfor %}
	</section>
	
{% include "partials/footer.njk" %}
