{% include "partials/header.njk" %}
	<style>
		#nav{transform:translateZ(500px)}
.flooring-all-cards-two::before {
    background: #000000c4  !important;
    bottom: 0 !important;
    content: '' !important;
    left: 0 !important;
    opacity: 0.8 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: -1 !important;
    transform: scale(0.88) !important;
}
.flooring-all-cards-in::before {
    background: #2E928B !important;
    bottom: 0 !important;
    content: '' !important;
    left: 0 !important;
    opacity: 0.8 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: -1 !important;
   transform: scale(0.88) !important;
}
		.flooring-all-cards h3{
		    font-size: 24px !important;
		    margin-top: 12px !important;
		    text-align: center !important;
		    /* max-width: 0px !important; */
		    overflow: hidden !important;
		    display: -webkit-box !important;
		    -webkit-line-clamp: 2 !important;
		    -webkit-box-orient: vertical !important;
		}
		
		.flooring-all-cards p{
		    font-size: 14px !important;
		    text-align: center !important;
			  overflow: hidden !important;
			    display: -webkit-box !important;
			    -webkit-line-clamp: 6 !important;
			    -webkit-box-orient: vertical !important;
		}

.slide_left{
padding: 0 46px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slide_right{
padding: 0 46px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

		.slide_left h3{
font-size: 40px !important;
		    margin-top: 12px !important;
		    text-align: center !important;
		    /* max-width: 0px !important; */
		    overflow: hidden !important;
		    display: -webkit-box !important;
		    -webkit-line-clamp: 2 !important;
		    -webkit-box-orient: vertical !important;
		}

		.slide_left p{
font-size: 14px !important;
		    text-align: center !important;
			  overflow: hidden !important;
			    display: -webkit-box !important;
			    -webkit-line-clamp: 12 !important;
			    -webkit-box-orient: vertical !important;
		}

                .slide_right h3{
font-size: 40px !important;
		    margin-top: 12px !important;
		    text-align: center !important;
		    /* max-width: 0px !important; */
		    overflow: hidden !important;
		    display: -webkit-box !important;
		    -webkit-line-clamp: 2 !important;
		    -webkit-box-orient: vertical !important;
		}

		.slide_right p{
font-size: 14px !important;
		    text-align: center !important;
			  overflow: hidden !important;
			    display: -webkit-box !important;
			    -webkit-line-clamp: 12 !important;
			    -webkit-box-orient: vertical !important;
		}
	</style>
	<section class="hero">
		<div>
			<img src="{{bannerImage}}" alt="hero image"/>
			<h1>{{bannerTitle}}</h1>
		</div>
	</section>
	<section class="why-wood">
		<div>
			<h2>{{heading}}</h2>
			<p>{{description}}</p>
		</div>
	</section>
	<section class="slider">
		<div>
			<input type="radio" name="slider" checked/>
			<input type="radio" name="slider" />
			<input type="radio" name="slider" id="rb-1"/>
			<input type="radio" name="slider" id="rb-2"/>
			<div id="slide-1" data-slide-trigger="#rb-1">
				<div class="arrow-button left"></div>
				<img src="{{sliders.left_slider.b_image1}}" alt="{{sliders.left_slider.title}} background"/>
				<div class="slide_left">
					<h3>{{sliders.left_slider.heading}}</h3>
					<p>{{sliders.left_slider.description}}</p>
				</div>
				<div class="slide_left">
					<h3>{{sliders.left_slider.heading}}</h3>
					<p>{{sliders.left_slider.content}}</p>
				</div>
			</div>
			<div id="slide-2" data-slide-trigger="#rb-2">
				<div class="arrow-button right"></div>
				<img src="{{sliders.right_slider.b_image2}}" alt="{{sliders.right_slider.title}} background"/>
				<div class="slide_right">
					<h3>{{sliders.right_slider.heading}}</h3>
					<p>{{sliders.right_slider.description}}</p>
				</div>
				<div class="slide_right">
					<h3>{{sliders.right_slider.heading}}</h3>
					<p>{{sliders.right_slider.content}}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="cards" tabindex="0">

		<div>
			<h2>Get to Know the Wood Industry</h2>
			<div>
				{% for card in cards %}
					<div class="flooring-all-cards">
						<img src="{{card.b_image}}" alt="{{card.header}} background"/>
						<div class="flooring-all-cards-in">
							<img src="{{card.image}}" alt="{{card.header}} icon"/>
							<h3>{{card.header}}</h3>
							<div>Learn More ›</div>
						</div>
						<div class="flooring-all-cards-two">
							<h3>{{card.header}}</h3>
							<p>{{card.description}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
    </section>
    <script>
        var triggers = document.querySelectorAll('[data-slide-trigger');
        triggers.forEach(function (el) {
            el.addEventListener('click', function (event) {
                console.log(el.dataset);

                var rb = document.querySelector(el.dataset.slideTrigger);
                rb.checked = true;
            })
        })

    </script>
{% include "partials/footer.njk" %}


